.incomeFormContainer{
    background-color: #e6e6e6;
    border: 2px solid #6a2c70;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 2rem;
    width: 40%;
    text-align: center;
    color: #471e4b
}

.incomeFormInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.incomeFormLabel{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ae49b8;
    margin: 0.5rem 0;
}

.incomeFormInput{
    width: 100%;
    height: 2rem;
    border: 1px solid #6a2c70;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ae49b8;
}

button{
    margin-top: 1rem;
    /* width: 100%; */
    height: 2rem;
    border: 1px solid #6a2c70;
    border-radius: 0.5rem;
color: whitesmoke;
    background-color: #ae49b8;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}